/* CSS HOME */
nav {
  align-items: center;
  background: #1e272b;
  border-bottom: 2px solid #f64001;
  padding-bottom: 15px;
}

nav a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
nav h1 {
  margin-top: 9px;
}

main {
  background: #1e272b;
  height: 90vh;
}

.main-title {
  font-weight: 900;
  text-align: center;
  color: #f64001;
  padding-top: 23px;
  font-size: 45px;
  letter-spacing: 2px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-top: 50px;
}

.opcion {
  text-align: center;
}

.opcion button {
  background-color: #f64001;
  color: white;
  padding: 15px 30px;
  border: 1px solid #f64001;
  font-size: 18px;
  cursor: pointer;
  border-radius: 25px;
  width: 200px;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.opcion button:hover {
  background-color: white;
  color: #f64001;
}

.imagen img,
.imagen1 img {
  width: 100%;
  max-width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 15px;
}

.footerMessage {
  background-color: #f64001;
  color: white;
  text-align: center;
  padding: 30px;
  font-size: 22px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}
