/* ─────────────────────  Principal  ───────────────────── */

.imagenDeFondo1 {
  position: relative; /* Establece la posición relativa para permitir posicionamiento de elementos hijos */
  background: url("../media/img/concert.jpg") no-repeat center center; /* Define la imagen de fondo, sin repetición, centrada horizontal y verticalmente */
  background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el contenedor */
  height: 100vh; /* Establece la altura del contenedor al 100% del alto de la ventana */
  width: 100%; /* Establece el ancho del contenedor al 100% del ancho de la ventana */
  padding: 3%;
}

.principal {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  padding-left: 7%;
}

.pe-5 {
  padding-right: 7.5rem !important;
}

.principal2 {
  padding-bottom: 10%;
}

.principal2 h1 {
  font-size: 83px;
  font-weight: 700;
  line-height: 1;
  font-family: "Bebas Neue", sans-serif;
  color: white;
}

.principal2 p {
  font-size: 31px;
  font-weight: 500;
  color: white;
}

.principal2 p {
  font-size: 1.1rem;
  font-weight: 500;
}

.login-btn {
  border-color: #f64001;
  position: absolute;
  background: white;
  color: #f64001;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-btn:hover {
  background: #f64001;
  color: white;
}

.volverIndex-btn {
  border-color: #000000;
  position: absolute;
  background: white;
  color: #f64001;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: 225px;
  padding: 20px 40px;
  margin-top: -110px;
}

.volverIndex-btn:hover {
  background-color: #000000;
  color: #f64001;
  border-color: #000000;
}

.cta-btn {
  position: absolute;
  right: 32px;
  bottom: 32px;
  background: #f64001;
  color: white;
  margin: 5%;
  font-size: 35px;
  padding: 1% 0 1% 0;
  width: 18%;
}

.cta-btn:hover {
  border-color: #f64001;
  background: white;
  color: #f64001;
}

.boton-inicio {
  max-width: fit-content;
}

.vision {
  margin-top: 5%;
  width: 230px;
  height: 230px;
}

.valores {
  margin-top: 0%;
  width: 197px;
  height: 284px;
}

.equipo {
  margin-top: -3%;
  width: 239px;
  height: 333px;
}

#boton-empezar {
  border-radius: 5px;
  background-color: #f64001;
  font-size: 28px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tituloLanding {
  font-size: 120px;
}

.descripcionLanding {
  font-size: 30px;
}

.tituloLogo {
  font-size: 70px;
}
/* ─────────────────────  QUIÉNES SOMOS  ───────────────────── */

.imagenDeFondo2 {
  position: relative; /* Establece la posición relativa para permitir posicionamiento de elementos hijos */
  background: url("../media/img/fondo-azul-naranja.png") no-repeat center center; /* Define la imagen de fondo, sin repetición, centrada horizontal y verticalmente */
  background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el contenedor */
  height: 115vh; /* Establece la altura del contenedor al 100% del alto de la ventana */
  width: 100%; /* Establece el ancho del contenedor al 100% del ancho de la ventana */
}

.sobreNosotros h2 {
  font-size: 7rem;
  font-style: italic;
  font-weight: 700;
  color: #f64001;
  font-family: "Bebas Neue", sans-serif;
}

.quienesSomos {
  margin-bottom: 15%;
  padding-top: 2%;
}

.card {
  background: #f9f1e8;
  font-size: 21px;
  color: #000;
  border: 3px solid #000;
  border-radius: 16px;
  padding: 69px 10px 55px;
  height: 100%;
}

.card-img-top {
  position: absolute;
  top: -162px;
  left: 50%;
  transform: translateX(-50%);
}

.card-title {
  font-weight: 700;
  margin-bottom: 25px;
  font-family: "Bebas Neue";
  font-size: 34px;
  text-align: center;
  letter-spacing: 2px;
}

.card-body p {
  text-align: justify;
}
span {
  float: right;
}
.boton-flecha-cont {
  align-self: end;
}

.boton-flecha-elemento {
  background-color: #f9f1e8;
  border: 2px solid black;
  border-radius: 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: 700;
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding: 8px;
  font-size: 22px;
}

.boton-flecha-elemento:hover {
  background-color: #000000;
  color: white;
  border: 2px solid white;
}

/* ─────────────────────  INNOVACIÓN  ───────────────────── */

.innovation {
  height: 115vh;
}

.innovation-right {
  background: #f9f1e8;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
  flex-direction: column;
  height: 100%;
}

.innovation-right h3 {
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: 35px;
  font-family: "Bebas Neue";
  margin-top: -26%;
  color: #5d5b5a;
}

.innovation-right p {
  font-size: 28px;
  text-align: center;
  color: #818180;
}

video {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 50%;
  z-index: -1;
  object-fit: cover;
}

.grid-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 44% 11%;
  padding: 18% 10% 40% 10%;
}

.innovation-card {
  color: #c5c5c5;
  border-radius: 10px;
  padding: 60px 30px 40px;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 17px;
}

.innovation-card h2 {
  font-size: 34px;
}
.innovation-description {
  width: 65%;
  font-size: 3px;
}

/* ─────────────────────  QUIÉNES SOMOS  ───────────────────── */

#no-te-lo-pierdas {
  background-color: #1e272b;
  padding: 30px 0;
  color: #ffffff;
  text-align: center;
  width: 100%;
  padding-left: 130px;
}

#no-te-lo-pierdas p {
  font-size: 20px;
  margin: 0;
  font-weight: 500;
  margin-right: 340px;
}

#no-te-lo-pierdas .login-btn {
  font-size: 18px;
  padding: 10px 30px;
  border: none;
  background-color: #f64001;
  color: white;
  transition: all 0.3s ease;
  margin-left: 400px;
}

#no-te-lo-pierdas .login-btn:hover {
  background-color: #000;
  color: #f64001;
}

/* CONTACTO */

footer {
  background-color: #1e272b;
  padding: 10px 5px;
}

#footer-section {
  background-color: #f64001;
  padding: 10px 5px;
}

#footer_logo {
  display: flex;
  justify-content: flex-start;
  padding-right: -30px;
}

#footer_logo img {
  transform: scale(0.5);
  transform-origin: center;
  width: 150px;
  height: auto;
}

.informacionContacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.responsables {
  border-left: 1px solid black;
}

.contacto {
  display: flex;
  justify-content: center;
}

.redesSociales a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-size: 15px;
}
.redesSociales a:hover {
  font-weight: 700;
}

.redesSociales i {
  font-size: 20px;
}
.responsables h4 {
  font-size: 30px;
}

.about-us {
  width: 70%;
}

#footer_text_and_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
}

#footer_text_and_icons p {
  margin: 0;
  flex: 1;
  max-width: 70%;
  margin-left: 20px;
}

.redesSociales_2 p {
  margin: 0;
  color: white;
}

.redesSociales_2 a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.redesSociales_2 > div {
  display: flex;
  gap: 15px;
  margin-left: -10;
  padding-left: 0;
}

.redesSociales_2 a:hover {
  color: #f64001;
}

.redesSociales_2 i {
  font-size: 22px;
}
