/* ─────────────────────  Principal  ───────────────────── */
.hero {
  position: relative;
  min-height: 100vh;
  background: url("../img/women-rights-main-image.jpg") center/cover;
  display: flex;
  align-items: center;
  color: #fff;
}


.hero-content,
.logo,
.login-btn,
.cta-btn {
  position: relative;
  z-index: 1;
}

.hero-content {
  margin: 54px;
  margin-top: 35%;
}

.logo {
  position: absolute;
  top: 20px;
  left: 24px;
  gap: 6px;
}

.login-btn {
  position: absolute;
  top: 66px;
  right: 24px;
  background: white;
  color: #f64001;
  font-size: 35px;
  margin: 6px 5%;
  padding: 0.75% 0 0.75% 0;
  width: 12%;
}

.hero-title {
  font-size: 9rem;
  font-weight: 700;
  line-height: 1;
  font-family: 'Bebas Neue', sans-serif;
}

.hero-sub {
  font-size: 1.1rem;
  font-weight: 500;
}

.cta-btn {
  position: absolute;
  right: 32px;
  bottom: 32px;
  background: #f64001;
  color: white;
  margin: 5%;
  font-size: 35px;
  padding: 1% 0 1% 0;
  width: 18%;
}

/* ─────────────────────  QUIÉNES SOMOS  ───────────────────── */
.about {
  background: url("../img/Captura\ de\ pantalla\ 2025-05-14\ 130944.png") center/cover;
  min-height: 115vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about h2 {
  font-size: 7rem;
  font-style: italic;
  font-weight: 900;
  color: #ff4600;
  margin-bottom: 18%;
  margin-top: -14%;
  font-family: 'Bebas Neue', sans-serif;
}

.about .row {
  width: 125vh;
  flex: 1;
  height: fit-content;
}

.about-card {
  background: #F9F1E8;
  font-size: 24px;
  color: #000;
  border: 3px solid #000;
  border-radius: 16px;
  padding: 100px 35px 95px;
  position: relative;
  height: 100%;
}

.avatar {
  width: 225px;
  height: 226px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: -162px;
  left: 50%;
  transform: translateX(-50%);
}

.about-card h5 {
  font-weight: 700;
  margin-bottom: 25px;
  font-family: 'Bebas Neue';
  font-size: 34px;
  text-align: center;
  letter-spacing: 2px;
}

/* ─────────────────────  INNOVACIÓN  ───────────────────── */
.innovation {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: stretch;
}

.innovation-left {
  flex: 1 1 50%;
  min-height: 420px;
  background: url("../img/videofondo.mp4") center/cover;
}

.innovation-right {
  flex: 1 1 50%;
  min-height: 420px;
  background: #F9F1E8;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
}

.innovation-right h3 {
  font-size: 4.5rem;
  font-weight: 900;
  margin-bottom: 35px;
  font-family: 'Bebas Neue';
  margin-top: -36%;
  color: #5d5b5a;
}

.grid-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 55px;
  padding: 112px;
}

.innovation-card {
  background: gray;
  color: #000;
  border-radius: 10px;
  padding: 90px 24px 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}

.innovation-right p {
  font-size: 22px;
  text-align: center;
  color: #818180;
}

footer {
  display: flex;
  flex-wrap: wrap;
  min-height: 110vh;
}

.contact-left {
  background-color: #F64001;
  width: 50%;
}

.contact-right {
  background: #000 url("../img/women-rights-main-image.jpg") center/cover;
  width: 50%;
}

video {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  z-index: -1;
  object-fit: cover;
} 
