/* ─────────────────────  Principal  ───────────────────── */

.imagenDeFondo1 {
  position: relative; /* Establece la posición relativa para permitir posicionamiento de elementos hijos */
  background: url("../img/women-rights-main-image.jpg") no-repeat center center; /* Define la imagen de fondo, sin repetición, centrada horizontal y verticalmente */
  background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el contenedor */
  height: 100vh; /* Establece la altura del contenedor al 100% del alto de la ventana */
  width: 100%; /* Establece el ancho del contenedor al 100% del ancho de la ventana */
}

.principal {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.principal2 {
  padding-bottom: 10%;
}

.principal2 h1 {
  font-size: 83px;
  font-weight: 700;
  line-height: 1;
  font-family: "Bebas Neue", sans-serif;
  color: white;
}

.principal2 p {
  font-size: 31px;
  font-weight: 500;
  color: white;
}

.principal2 p {
  font-size: 1.1rem;
  font-weight: 500;
}

.login-btn {
  border-color: #f64001;
  position: absolute;
  background: white;
  color: #f64001;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3sease, color 0.3 sease;
}

.login-btn:hover {
  background: #f64001;
  color: white;
}

.cta-btn {
  position: absolute;
  right: 32px;
  bottom: 32px;
  background: #f64001;
  color: white;
  margin: 5%;
  font-size: 35px;
  padding: 1% 0 1% 0;
  width: 18%;
}

.cta-btn:hover {
  border-color: #f64001;
  background: white;
  color: #f64001;
}

/* ─────────────────────  QUIÉNES SOMOS  ───────────────────── */

.imagenDeFondo2 {
  position: relative; /* Establece la posición relativa para permitir posicionamiento de elementos hijos */
  background: url("../img/fondo-azul-naranja.png") no-repeat center center; /* Define la imagen de fondo, sin repetición, centrada horizontal y verticalmente */
  background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el contenedor */
  height: 115vh; /* Establece la altura del contenedor al 100% del alto de la ventana */
  width: 100%; /* Establece el ancho del contenedor al 100% del ancho de la ventana */
}

.sobreNosotros h2 {
  font-size: 7rem;
  font-style: italic;
  font-weight: 700;
  color: #f64001;
  font-family: "Bebas Neue", sans-serif;
}

.quienesSomos {
  margin-bottom: 15%;
  padding-top: 6%;
}

.card {
  background: #f9f1e8;
  font-size: 21px;
  color: #000;
  border: 3px solid #000;
  border-radius: 16px;
  padding: 69px 10px 55px;
  position: relative;
  height: max-content;
}
.card-img-top {
  width: 225px;
  height: 226px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: -162px;
  left: 50%;
  transform: translateX(-50%);
}

.card-title {
  font-weight: 700;
  margin-bottom: 25px;
  font-family: "Bebas Neue";
  font-size: 34px;
  text-align: center;
  letter-spacing: 2px;
}

/* ─────────────────────  INNOVACIÓN  ───────────────────── */

.innovation {
  height: 115vh;
}

.innovation-right {
  background: #f9f1e8;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
  flex-direction: column;
}

.innovation-right h3 {
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: 35px;
  font-family: "Bebas Neue";
  margin-top: -26%;
  color: #5d5b5a;
}

.innovation-right p {
  font-size: 22px;
  text-align: center;
  color: #818180;
}

video {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 50%;
  z-index: -1;
  object-fit: cover;
}

.grid-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 55px;
  padding: 112px;
}

.innovation-card {
  background: gray;
  color: #000;
  border-radius: 10px;
  padding: 90px 27px 40px;
  opacity: 0.7;
}

/* CONTACTO */

footer {
  background-color: #f64001;
  min-height: 110vh;
}

.informacionContacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* border-right: 1px solid black; */
}
.redesSociales {
}

.responsables {
  border-left: 1px solid black;
}

.contacto {
}
