/* NO TOCAAAAARRRR */
body {
  height: 100vh;
  font-family: "Saira", sans-serif;
}
.titulos {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}
nav {
  padding-top: 20px;
  max-height: 10%;
  min-height: 10%;
  align-items: center;
}
nav img{
  padding-left: 20px;
  padding-right: 20px;
}

html{
  height: 100%;
}
