/* NO TOCAAAAARRRR */
body {
  height: 100vh;
  font-family: "Saira", sans-serif;
}
.titulos {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}
nav {
  padding-top: 20px;
  max-height: 10%;
  min-height: 10%;
  align-items: center;
}
nav img{
  padding-left: 20px;
  padding-right: 20px;
}

html{
  height: 100%;
}

nav h1{
  transform: scale(0.8);
}
nav i{
  transform: scale(0.6);
  padding-top: 1%;
  color: #F14001;
}
.nav-title{
  transform: scale(1);
}
nav a{
  all: unset;
  color: white;
  cursor: pointer;
}

.custom-modal-style {
  background-color: #1E272B;
  border: 2px solid white;
}

.custom-input {
  background-color: #1E272B;
  color: white;
  border: 1px solid #ccc;
}

.custom-input::placeholder {
  color: #aaa;
}

.custom-input:focus {
  background-color: #1E272B;
  color: white;
  border-color: #fff;
  box-shadow: none;
}

#bienvenido-saludo span{
  color: #F14001;
  font-size: 22px;
}

#bienvenido-saludo{
  flex: 1;
  padding-right: 2%;
  text-align: right;
}