* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background-color: #1c1c1c;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

h2 {
    color: #F64001;
    margin-bottom: 20px;
    font-size: 24px;
}

.textbox {
    margin-bottom: 20px;
    position: relative;
}

.textbox input {
    width: 100%;
    padding: 12px;
    border: 2px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
}

.Boton {
    width: 100%;
    padding: 18px;
    background-color: #F64001;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;

}


