* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #333;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background-color: #1c1c1c;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    margin-top: 75px;
}

h2 {
    color: #F64001;
    margin-bottom: 20px;
    font-size: 24px;
}

.textbox {
    margin-bottom: 20px;
    position: relative;
}

.textbox input {
    width: 100%;
    padding: 12px;
    border: 2px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
}

.Boton {
    width: 100%;
    padding: 18px;
    background-color: #F64001;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;

}


nav {
    align-items: center;
    background: #f64001;
    border-bottom: 2px solid #f64001;
}


nav a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


nav h1 {
    margin-top:19px;
}

nav img{
    margin-bottom: 23px;
}





main{
    display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - alturaDelNav);
}


nav h1.titulos {
    font-family: 'Bebas Neue', cursive, sans-serif; 
    font-weight: 700; 
    font-size: 40px; 
    margin-bottom: 34px; 
}
  


nav h1.titulos a {
    font-family: inherit; /* para que herede la fuente del h1 */
    text-decoration: none;
    color: inherit;
}


